* {
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
}

#game {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
}

button {
    font-size: 48px;
    width: 80px;
}

#result {
  color: lightgrey;
  text-align: center;
  margin: 20px 0px;
}

#scoreboard {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#player-score, #computer-score {
    background-color: lightgrey;
    font-size: 48px;
    text-align: center;
    min-width: 60px;
    border-radius: 10px;
    padding: 0px 10px;
}